@import '../../customizations/colors/colors.scss';
@import '../../customizations/typography.scss';

.film-description {
  color: $french-gray;

  .col-9 {

    .cinema {
      position: relative;

      &:before {
        content:'';
        position: absolute;
        top: 10px;
        height: 4px;
        width: 90%;
        background-color: $french-gray;
      }

      &:last-child {

        &:after {
          content:'';
          position: absolute;
          bottom: 10px;
          height: 4px;
          width: 90%;
          background-color: $french-gray;
        }
      }

      .time {
        width: 80px;
        border-radius: 25px;
        border: 2px solid $french-gray;
      }
    }
  }

  .col-3 {

    .name-film {
      text-decoration: underline;
      font-size: $font-size-film-name;
    }
  }

  .film-img {
    width: 120px;
    height: 180px;
    background: url('/assets/public/png/harly-queen.png') no-repeat;
    background-size: 120px 180px;
  }
}
