@import '../../customizations/colors/backgrounds.scss';
@import '../../customizations/colors/colors.scss';

.header-main-page {
    .navbar-brand {
      width: 170px;
      height: 90px;
      background: url('/assets/public/png/silver-screen-logo.png') no-repeat center;
      background-size: cover;
    }

    .btn.btn-link {
      color: $french-gray;
      text-decoration: none;
    }

    .search-film-header {
      width: 40px;
      height: 40px;
      background: url('/assets/public/png/search-icon-header.png') no-repeat center;
      background-size: cover;
  }
}


