@import '../../customizations/colors/colors.scss';

.text-footer {
  position: relative;
  &:before {
      content:'';
      position: absolute;
      top: -20px;
      height: 2px;
      width: 100%;
      background-color: $text-color;
  }
}
